/* CSS Document */
body {
	background-color: #D3EFFE;
	color:#OOF;
	}
	h1{
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:26px;
		color:#058DE3;
		border-bottom:thin;
		border-bottom-style:solid;
	}
	table{
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		font-size:12px;
	}
	th{
		background-color:black;
		color:white;
	}
	.boton{
		background:#058DE3;
		color:white;
	}
	#error{
		color:red;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		font-size:12px;
	}
